@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary: #212121;
    --primary-dark: black;
    --primary-light: #484848;

    --secondary: #8fa3ad;
    --secondary-dark: #61747e;
    --secondary-light: #bfd4df;

    --text-on-primary: white;
    --text-on-secondary: black;

    --normal-font-size: 13px;
}

.light{
    --primary: #005f63;
    --primary-dark: #003539;
    --primary-light: #428d90;

    --secondary: #37474f;
    --secondary-dark: #102027;
    --secondary-light: #62727b;

    --text-on-primary: white;
    --text-on-secondary: white;
}

.App{
    display: flex;
    font-family: 'Roboto Mono', monospace;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.App *{
    transition: inherit;
}

.MuiInputBase-root{
    color: var(--text-on-primary) !important;
    
}

.MuiFormLabel-root{
    color: var(--text-on-primary) !important;
}

.option{
    background: var(--primary-light) !important;
    border: none;
    outline:none;
}

body{
    overflow: hidden;
}